<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3 aCastro</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/public/index.html" id="topNav">Home</a>
      <a class="navbar-brand" href="/views/employees.hbs">Employee List</a>
    </nav>
    <div class="container">
      <h2>Employee List</h2>
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Start Date</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Action</th>
            <!-- New column for action buttons -->
          </tr>
        </thead>
        <tbody>
          {{#each employees}}
            <tr>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>
              <td>{{this.department}}</td>
              <td>{{this.startDate}}</td>
              <td>{{this.jobTitle}}</td>
              <td>{{this.salary}}</td>
              <td>
                <form action="/employees/{{this._id}}/edit" method="get">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <form action="/employees/{{this._id}}/delete" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>